<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="POMS.Repository.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <POMS.Repository.Properties.Settings>
      <setting name="POMS_Repository_tciexpressTrack_ServiceEnquire"
        serializeAs="String">
        <value>https://customerapitesting.tciexpress.in/ServiceEnquire.asmx</value>
      </setting>
      <setting name="POMS_Repository_tciexpresstracklive_ServiceEnquire"
        serializeAs="String">
        <value>https://customerapi.tciexpress.in/ServiceEnquire.asmx</value>
      </setting>
    </POMS.Repository.Properties.Settings>
  </applicationSettings>
</configuration>